# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/hosting2/cassetteby/cassette1"
PassengerBaseURI "/"
PassengerNodejs "/hosting2/cassetteby/nodevenv/cassette1/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END